<div data-controller="like" data-liked="<%= current_user&.liked?(shop) %>" 
                              data-id="<%= shop.id %>" class="my-2">
    <%= link_to '#', class: 'bg-gray-400 hover:bg-gray-300 text-black font-semibold p-5 items-center rounded-xl focus:outline-none focus:shadow-outline text-xl', data: { action: 'click->like#toggle',
                                                        like_target: 'btn' } do %>
    <% end %>
</div>