<h1>店家列表</h1>
<%= link_to "建立店家", new_shop_path, class: 'border-2 border-black'%>
<%= render 'form_select_shop_status', shop: @shop %>
<ul class="grid grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-4">
  <%= render @shops %>
</ul>
<div class="flex justify-center my-4">
  <%= paginate @shops %>
</div>