<%= turbo_stream.prepend "notification", partial: 'shared/notification', locals: { notification: } %>
      

<%= turbo_stream.replace "badge" do %>
   <span id="badge" class="badge badge-xs badge-primary z-[1] indicator-item"></span>
<% end %>


