<div class="md:flex md:items-center">
  <%= service_time_field.label column, t("service_times.#{column}"), class: 'label' %>
  <%= service_time_field.text_field column,
                        data: {
                          controller: 'timepicker',
                          time: value&.then { |t| format_time_without_sec(t) }, 
                        },
                        class: 'input input-bordered input-sm max-w-xs',
                        placeholder: t('service_times.choose_times') %>
</div>