<div tabindex="0" class="collapse collapse-plus border border-base-300 bg-slate-100 w-2/3 text-center mx-auto">
  <div class="collapse-title text-2xl font-medium text-gray-600">
    <%= t('service_times.title') %>
  </div>
  <div class="collapse-content text-2xl"> 
    <%= render partial: 'shops/service_times', collection: @shop.service_times, as: :service_time %>
  </div>
</div>