<div class="collapse collapse-arrow text-center mx-auto border border-base-300 bg-slate-100 mb-3 md:w-2/3">
  <input type="checkbox"/> 
  <div class="collapse-title text-2xl text-center text-gray-600 font-medium">
    <%= t('service_times.title') %>
  </div>
  <div class="collapse-content text-gray-700"> 
    <%= render partial: 'shops/service_times', collection: @shop.service_times, as: :service_time %>
  </div>
</div>