<nav
  class="flex items-center justify-between px-3 py-2 bg-yellow-100"
>
  <div class="flex items-center gap-2">
    <h1 class="mx-2 text-4xl font-bold"><%= link_to "RestTime",root_path %></h1>

    <section class="flex flex-col gap-1">
      <ul class="flex gap-3 text-xl">
        <li><%= link_to 'products', products_path %></li>
      </ul>
    </section>

  </div>
  <div>
    <ul class="flex gap-3">
        <li>
        <i class="fa-solid fa-cart-shopping fa-lg"></i>
        </li>
        <li><%= link_to '註冊/登入', users_path %></li>
    </ul>
  </div>
</nav>