<h1>關於我們</h1>
<div class="">
  <header class="flex justify-between">
    <h2>LOGO</h2>
    <button>登入</button>
  </header>
  <nav class="">
    <ul>
      <li class="inline"><a href="">認識RESTIME</a></li>
      <!-- <li class="inline"><a href="">常見問題</a></li> -->
      <!-- <li class="inline"><a href="">條款</a></li> -->
    </ul>
  </nav>

  <div class="flex">
    <sidebar class="">
      <ul>
        <li><a href="">我們的誕生</a></li>
        <li><a href="">為何選擇我們</a></li>
        <li><a href="">一起加入我們</a></li>
        <li><a href="">聯絡我們</a></li>
      </ul>
    </sidebar>
    <div>
      <figure>
        <img src="https://fakeimg.pl/300x200/200" class="w-full" />
        <figcaption>
          <p class="w-3/4 m-auto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ipsa
            dolore in quibusdam consequatur ea culpa placeat beatae fugit
            veniam, corporis maiores unde, sint, odio eligendi modi dolor
            veritatis! Doloribus.
          </p>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
