<div class="container mx-auto mt-10 p-10 bg-white rounded shadow">
    <header>
    <h2 class="text-2xl font-bold mb-6">關於Restime</h1>
    </header>

    <section id="about">
        <p>在忙碌的世界中，時間就是一切。</p>
        <p>RestTime 誕生於一個簡單的想法：讓預約過程更加高效，減少無謂的等待和溝通。</p>
        <p>我們的團隊致力於打造一個既簡單又強大的預約平台。</p>
        <p>對於商家，商店後台系統，使商家可以簡單快速提供預約服務，</p>
        <p>對於消費者，簡單的預約流程，減少使用者繁複的預約手續，</p>
        <p>節省了雙方的溝通時間，能夠專注精力在放鬆上面。</p>
    </section>
</div>
