<div class="container mx-auto mt-10 p-10 bg-white rounded shadow">
    <h2 class="text-2xl font-bold mb-6">付款說明</h1>
    
    <p class="mb-4">感謝您選擇使用RestTime進行服務預約。為了您的便利，我們提供了以下幾種安全可靠的付款方式：</p>
    
    <h2 class="text-xl font-semibold mb-2">信用卡支付</h2>
    <p class="mb-4">我們接受Visa、MasterCard 等主要信用卡通過綠界金流平台進行支付。所有的信用卡交易都經過加密處理，保障您的交易安全。</p>
    
    <h2 class="text-xl font-semibold mb-2">LINE Pay</h2>
    <p class="mb-4">若您選擇使用 LINE Pay，您可以在完成預約後選擇LINE Pay作為付款方式。跟隨系統指引完成付款後，我們將即時確認您的預約。</p>
    
    <h2 class="text-xl font-semibold mb-2">付款流程</h2>
    <p class="mb-4">選擇您的預約服務後，於結帳頁面選擇您偏好的付款方式，並按照指示完成付款。</p>
    
    <p class="mb-4">若您在付款過程中遇到任何問題，請不吝聯絡我們的客戶服務團隊。我們樂於協助您解決任何疑問。</p>
    
    <h2 class="text-xl font-semibold mb-2">退款政策</h2>
    <p class="mb-4">如需了解更多關於退款的信息，請參閱我們的<%= link_to t('footer.refund_policy'), refund_policy_path %>。</p>
    </div>