<div class="container mx-auto mt-10 p-10 bg-white rounded shadow">
    <h1 class="text-2xl font-bold mb-4">退款政策</h1>
    
    <p class="mb-4">感謝您選擇<span class="text-2xl text-orange-900">RestTime</span>。 我們理解計劃可能會改變，因此我們提供以下退款政策以幫助我們的客戶靈活管理他們的預約。</p>
    
    <h2 class="text-xl font-semibold mb-2">取消預約</h2>
    <ul class="list-disc pl-5 mb-4">
        <li class="mb-2">全額退款：如果預約被取消且距離預定時間超過48小時，客戶有資格獲得全額退款。</li>
        <li class="mb-2">無退款：如果取消發生在距離預約時間48小時內，將不予退款。</li>
    </ul>
    
    <h2 class="text-xl font-semibold mb-2">未能提供服務</h2>
    <p class="mb-4">如果因RestTime或其服務提供者的原因導致服務未能按計劃提供，客戶將獲得全額退款。</p>
    
    <h2 class="text-xl font-semibold mb-2">特殊情况</h2>
    <p class="mb-4">在極少數情況下，由於不可抗力因素（如自然災害、政府行動等）影響，我們可能無法提供預定服務。 在這種情況下，我們將提供可選擇的重新預約日期或全額退款。</p>

    <h2 class="text-xl font-semibold mb-2">退款流程</h2>
    <p class="mb-4">為了申請退款，請透過我們的客戶服務電子郵件 15camprestime@gmail.com 聯絡我們，並提供以下資訊：</p>
    <ul class="list-disc pl-5 mb-4">
        <li class="mb-2">預約號碼</li>
        <li class="mb-2">預約日期和時間</li>
        <li class="mb-2">取消原因</li>
    </ul>
    <p class="mb-4">退款將在審核您的要求後的7個工作天內透過原支付方式退回。</p>
    
    <h2 class="text-xl font-semibold mb-2">退款後的預約狀態</h2>
    <p class="mb-4">一旦退款完成，相關的預約將被標記為已取消，且不可恢復。</p>
    
    <h2 class="text-xl font-semibold mb-2">政策更改</h2>
    <p class="mb-4">RestTime保留隨時修改本退款政策的權利。 任何變更都會在我們的網站上更新並明確通知。</p>
</div>
