<h1>使用者條款</h1>
<div class="">
  <header class="flex justify-between">
    <h2>LOGO</h2>
    <button>登入</button>
  </header>
  <nav class="">
    <ul>
      <li class="inline"><a href="">認識RESTIME</a></li>
      <li class="inline"><a href=>條款</a></li>
      <li class="inline"><a href="">常見問題</a></li>
    </ul>
  </nav>

  <div class="flex">
    <sidebar  class="">
      <ul>
        <li><p>使用者條款</p></li>
        <li><p>隱私權政策</p></li>
        <li><p>退費政策</p></li>
      </ul>
    </sidebar>
  <section>
      <h3>使用者條款</h3>
      <p>是從效果</p>
  </section>
  <section>
    <h3>隱私權政策</h3>
    <p>是從效果</p>
  </section>
    <section>
      <h3>退費政策</h3>
      <p>是從效果</p>
    </section>
  </div>
</div>
