<!-- app/views/your_controller/show_user_like_shops.html.erb -->

<h1>Your Liked Shops</h1>

<% @user_like_shops.each do |like_shop| %>
  <p><%= like_shop.shop.name %></p>
  <!-- Assuming your Shop model has a 'name' attribute -->
<% end %>