@import "flatpickr/dist/flatpickr.css";
@import "trix.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.flash-alert {
  @apply px-4 py-2 bg-error;
}

.flash-notice {
  @apply px-4 py-2 text-white bg-success;
}

/* 留言區的圖片設定最大寬高限制 */
figure.attachment img {
  max-width: 500px;
  max-height: 500px;
  width: auto;
  height: auto;
}
/* 留言區的圖片檔名設定不顯示 */
.attachment__name,
.attachment__size {
  display: none;
}

/* 留言區的長寬 */
.comment-container {
  width: 80%;
  height: auto;
  padding: 50px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.trix-content {
  padding: 10px;
  min-height: 100px;
}

.order_table_th {
  @apply px-2 py-4 mb-2 text-stone-100 text-xl text-center  bg-accent font-black;
}

.order_table_td {
  @apply px-5 py-2 text-lg text-center text-gray-500 font-semibold;
}

.order_text {
  @apply font-medium mb-2 text-gray-600;
}

.order_warning_btn {
  @apply mt-4 w-full bg-warning text-black font-semibold font-bold py-3 px-2 rounded font-medium text-center rounded-xl text-white;
}

.order_accent_btn {
  @apply mt-4 w-full bg-accent text-black font-semibold font-bold py-3 px-2 rounded font-medium text-center rounded-xl text-white;
}

.order_gray_btn {
  @apply mt-4 mb-4 w-full bg-gray-400 text-black font-semibold font-bold py-3 px-2 rounded font-medium text-center rounded-xl text-white;
}

.carousel-item {
  flex: 0 0 100%;
  height: 390px;
  overflow: hidden;
  transition: transform 0.7s ease; /* 開始慢、中間快、結束慢 */
  touch-action: none;
}

ul[data-controller="scroll"] {
  height: 300px;
  overflow: hidden;
}

li[data-scroll-target="item"] {
  transition: transform 0.8s ease-in-out;
}

li[data-scroll-target="item"]:hover {
  transform: scale(0.95);
}

html,
body {
  @apply h-full m-0 flex flex-col;
}
body {
  @apply flex flex-col;
}
main {
  @apply grow;
}
footer {
  @apply grow-0 flex bg-base-200;
}

/* 設定inline日曆元件 */
.flatpickr-calendar.inline {
  @apply w-full shadow-none;
}

/* 設定自動寬 */
.flatpickr-days,
.flatpickr-weekdays,
.dayContainer,
.flatpickr-weeks {
  @apply w-auto flex justify-center;
}

.swal2-popup {
  @apply w-auto flex flex-col justify-center;
}

#calendar-container {
  @apply overflow-hidden;
}

.swal2-close:focus {
  @apply shadow-none;
}

.diagonal-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to top right,
    rgba(255, 255, 255, 0.4),
    rgb(175, 196, 126, 1)
  );
  z-index: -1;
}

.modal-box {
  background-color: white;
}

#slots .btn-outline.btn-active {
  background-color: rgb(166, 189, 110);
  color: var(--fallback-b1, oklch(var(--b1) / var(--tw-text-opacity)));
  font-size: 0.7rem;
  border-radius: 5px;
}

#slots .btn {
  font-size: 0.7rem;
  border-radius: 5px;
}

#slots .btn:hover {
  background-color: rgb(175, 196, 126);
  color: black;
}

#slots .btn-outline {
  border-color: white;
  border: 1px solid;
.pagination span {
  @apply join-item btn btn-primary m-0;
}
